
/* ******************* 
Global Styles  
**********************/

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.container {
    max-width: 92%;
    margin: auto;
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/* ******************* 
Main Styles - Mobile First
**********************/
header {
    position: relative;
    background-color: #12263A;
    overflow: hidden;
}

header .hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
}

.snow, .snow:before, .snow:after {
    position: absolute;
    top: -600px;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: radial-gradient(6px 6px at 278px 431px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 167px 344px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 555px 152px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 32px 399px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 439px 505px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 132px 241px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 465px 183px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 361px 397px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 67px 109px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 77px 185px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 365px 538px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 65px 21px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 557px 564px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 316px 195px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 23px 201px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 370px 165px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 246px 74px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 287px 473px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 232px 551px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 158px 266px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 289px 55px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 256px 172px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 421px 87px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 483px 398px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 325px 134px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 509px 464px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 244px 304px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 588px 46px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 334px 501px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 328px 308px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 240px 277px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 93px 506px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 447px 201px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 416px 206px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 89px 188px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 502px 397px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 219px 456px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 351px 22px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 488px 69px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 531px 46px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 75px 14px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 338px 396px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 181px 50px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 268px 24px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 22px 296px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 245px 199px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 331px 137px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 73px 480px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 164px 100px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 282px 301px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 397px 237px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 395px 590px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 507px 542px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 427px 91px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 375px 103px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 62px 128px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 261px 67px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 378px 264px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 549px 581px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 342px 178px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 428px 43px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 257px 393px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 518px 507px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 554px 20px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 193px 454px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 34px 90px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 130px 522px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 182px 54px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 257px 584px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 230px 262px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0));
    background-size: 600px 600px;
    animation: snow 8s linear infinite;
    content: "";
  }
  
  .snow:after {
    margin-left: -200px;
    opacity: 0.4;
    animation-duration: 6s;
    animation-direction: reverse;
    filter: blur(3px);
  }
  
  .snow:before {
    animation-duration: 9s;
    animation-direction: reverse;
    margin-left: -300px;
    opacity: 0.65;
    filter: blur(1.5px);
  }
  
  @keyframes snow {
    to {
      transform: translateY(600px);
    }
  }

header .hero-content {
    z-index: 10;
    position: relative;
}

header .top-bar {
    color: white;
    height: 70px;
}

header .top-bar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .menu {
    display: none;
} 

header nav.open .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #12263A;
    width: 100%;
    height: 100vh;
} 

header nav .menu li {
    cursor: pointer;
    
} 

header nav.open .menu li {
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 32px;
} 

header nav .menu-icon {
    cursor: pointer;
} 

header nav.open .menu-icon {
    display: none;
} 

header nav .close-icon {
    display: none;
} 

header nav.open .close-icon {
    display: initial;
    color :dodgerblue;
} 

header div.menu-icon img {
    width: 24px;
    filter: invert(1);
} 


header .logo {
    font-weight: 400;
    font-size: 20px;
} 

header .hero {
    padding: 60px 0;
    color: white;
}

header .hero .hero-image {
    max-width: 80%;
}

header .hero .hero-image img {
    width: 100%;
    margin: auto;
}

header .hero .hero-text {
    text-align: center;
}

header .hero .hero-text h1 {
    font-size: 44px;
    margin-top: 0;
    margin-bottom: 12px;
}

header .hero .hero-text h2 {
    color: dodgerblue;
    font-size:22px;
    font-weight: 400;
    letter-spacing: 2px;
}

header .hero .hero-text p {
    font-size:20px;
    font-weight: 300;
    line-height: 32px;
    max-width: 330px;
    margin: auto;
}

header .hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ******************* 
Tablet Styles
**********************/

@media only screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    header .menu {
        display: flex;
    } 

    header ul li {
        margin-left: 24px;
        font-size: 18px;
    } 
    
    header div.menu-icon {
        display: none;
    } 

}


/* ******************* 
Desktop Styles
**********************/

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    header .hero .container {
        flex-direction: row-reverse;
    }

    header .hero .hero-text {
        padding-top: 0px;
        text-align: left;
    }

}